<launch>
  <!-- Map Server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find my_robot_description)/maps/gix_map.yaml"/>

  <!-- AMCL -->
  <include file="$(find my_robot_description)/launch/amcl.launch.xml"/>

  <!-- Move Base -->
  <include file="$(find my_robot_description)/launch/move_base.launch.xml"/>
</launch>
