<launch>
  <!-- Arguments -->
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="map_file" default="$(find create_navigation)/maps/map.yaml"/>
  <arg name="move_forward_only" default="false"/>
  <arg name="scan_topic" default="/filtered_scan"/>

  <!-- Lidar Filter -->
  <node pkg="create_navigation" type="scan_filter.py" name="scan_filter" output="screen"/>

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- AMCL -->
  <include file="$(find create_navigation)/launch/amcl.launch">
    <arg name="scan_topic" value="$(arg scan_topic)"/>
  </include>

  <!-- move_base -->
  <include file="$(find create_navigation)/launch/move_base.launch">
    <arg name="model" value="$(arg model)" />
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
    <remap from="scan" to="/filtered_scan"/>
  </include>

  <!-- rviz -->
  <group>
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find create_navigation)/rviz/create_navigation.rviz"/>
  </group>
</launch>
